<html>
<body>
<meta name="viewport" content="width=device-width">
<style type="text/css">
body {
  font-family: sans-serif;
}
div.tvbtn {
  display: inline-block;
  width: 2em;
  height: 1.70em;
  text-align: center;
  vertical-align: bottom;
  background-color: navy;
  padding-top: 0.30em;
  border: medium solid dimgray;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  font-size: x-large;
}
div.tvbtn.red {
  background-color: #dd0000;
  border-radius: 30%;
}
div.tvbtn.green {
  background-color: #009900;
  border-radius: 30%;
}
div.tvbtn.blue {
  background-color: #005fff;
  border-radius: 30%;
}
div.tvbtn.yellow {
  background-color: #ffd700;
  border-radius: 30%;
}
div.tvbtn.d {
  font-style: italic;
  background-color: white;
  color: black;
}
div.tvbtn.enter {
  background-color: royalblue;
  border-radius: 10%;
}
div.tvbtn.return {
  background-color: royalblue;
  border-radius: 10%;
}
div.tvbtn.rec {
  background-color: red;
  border-radius: 10%;
}
div.ltbtn {
  display: inline-block;
  width: 4em;
  height: 1em;
  text-align: center;
  vertical-align: bottom;
  background-color: navy;
  //padding: auto auto auto auto;
  border: medium solid dimgray;
  border-radius: 20%;
  color: white;
  font-weight: bold;
  font-size: large;
}
</style>
<h1><a href="/remotectrl">Cherrypi</a></h1>

<h2>Lights</h2>
<h3>Koizumi</h3>
<a href="/light/koizumi/full"><div class="ltbtn">Full</div></a>
<a href="/light/koizumi/dimmer"><div class="ltbtn">Dimmer</div></a>
<a href="/light/koizumi/small"><div class="ltbtn">Small</div></a>
<a href="/light/koizumi/off"><div class="ltbtn">Off</div></a>

<h2>Fan</h2>
<h3>Iris Oyama</h3>
<a href="/fan/iris/power"><div class="ltbtn">Power</div></a>
<a href="/fan/iris/up"><div class="ltbtn">Up</div></a>
<a href="/fan/iris/down"><div class="ltbtn">Down</div></a>
<a href="/fan/iris/swinglr"><div class="ltbtn">SwingLR</div></a>
<a href="/fan/iris/swingud"><div class="ltbtn">SwingUD</div></a>
<a href="/fan/iris/mode_cont"><div class="ltbtn">Cont</div></a>
<a href="/fan/iris/mode_rithm"><div class="ltbtn">Rithm</div></a>
<a href="/fan/iris/mode_dry"><div class="ltbtn">Dry</div></a>

<h2>Raspberry Pi Shutdown</h2>
<a href="/pi/aplay">aplay</a>
<a href="/pi/shutdown">Shutdown</a>
<a href="/test">test</a>
<button class="js-button">
BBBBB
</button>
</body>
</html>

