<html>
<body>
<meta name="viewport" content="width=device-width">
<style type="text/css">
body {
  font-family: sans-serif;
}
div.tvbtn {
  display: inline-block;
  width: 2em;
  height: 1.70em;
  text-align: center;
  vertical-align: bottom;
  background-color: navy;
  padding-top: 0.30em;
  border: medium solid dimgray;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  font-size: x-large;
}
div.tvbtn.red {
  background-color: #dd0000;
  border-radius: 30%;
}
div.tvbtn.green {
  background-color: #009900;
  border-radius: 30%;
}
div.tvbtn.blue {
  background-color: #005fff;
  border-radius: 30%;
}
div.tvbtn.yellow {
  background-color: #ffd700;
  border-radius: 30%;
}
div.tvbtn.d {
  font-style: italic;
  background-color: white;
  color: black;
}
div.tvbtn.enter {
  background-color: royalblue;
  border-radius: 10%;
}
div.tvbtn.return {
  background-color: royalblue;
  border-radius: 10%;
}
div.tvbtn.rec {
  background-color: red;
  border-radius: 10%;
}
div.ltbtn {
  display: inline-block;
  width: 4em;
  height: 2em;
  text-align: center;
  vertical-align: bottom;
  background-color: navy;
  //padding: auto auto auto auto;
  border: medium solid dimgray;
  border-radius: 20%;
  color: white;
  font-weight: bold;
  font-size: large;
}
</style>
<h1><a href="/remotectrl">Smart Home 2</a></h1>
<h2>Bell</h2>
<a href="/childroom1/bell"><div class="ltbtn">Bell</div></a>
<a href="/childroom1/bell1"><div class="ltbtn">Bell1</div></a>
<a href="/childroom1/bell2"><div class="ltbtn">Bell2</div></a>
<a href="/childroom1/bell3"><div class="ltbtn">Bell3</div></a>
<a href="/childroom1/bell4"><div class="ltbtn">Bell4</div></a>
<a href="/childroom1/bell5"><div class="ltbtn">Bell5</div></a>
<a href="/childroom1/bell6"><div class="ltbtn">Bell6</div></a>
<a href="/childroom1/bell7"><div class="ltbtn">Bell7</div></a>
<a href="/childroom1/bell8"><div class="ltbtn">Bell8</div></a>
<a href="/childroom1/bell9"><div class="ltbtn">Bell9</div></a>
<a href="/childroom1/bell10"><div class="ltbtn">Bell10</div></a>
<a href="/childroom1/bell11"><div class="ltbtn">Bell11</div></a>
<a href="/childroom1/bell12"><div class="ltbtn">Bell12</div></a>
<a href="/childroom1/bell13"><div class="ltbtn">Bell13</div></a>
<a href="/childroom1/bell14"><div class="ltbtn">Bell14</div></a>
<a href="/childroom1/bell15"><div class="ltbtn">Bell15</div></a>
<a href="/childroom1/bell16"><div class="ltbtn">Bell16</div></a>
<h2>Light</h2>
<a href="/light/next"><div class="ltbtn">Next</div></a>
<h2>Air Conditioner</h2>
<a href="/ac/off"><div class="ltbtn">Off</div></a>
<h2>Raspberry Pi Shutdown</h2>
<a href="/pi/shutdown">Shutdown</a>
<a href="/test">test</a>
<button class="js-button">
BBBBB
</button>
</body>
</html>

