<html>
<body>
<meta name="viewport" content="width=device-width">
<style type="text/css">
body {
  font-family: sans-serif;
}
div.tvbtn {
  display: inline-block;
  width: 2em;
  height: 1.70em;
  text-align: center;
  vertical-align: bottom;
  background-color: navy;
  padding-top: 0.30em;
  border: medium solid dimgray;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  font-size: x-large;
}
div.tvbtn.red {
  background-color: #dd0000;
  border-radius: 30%;
}
div.tvbtn.green {
  background-color: #009900;
  border-radius: 30%;
}
div.tvbtn.blue {
  background-color: #005fff;
  border-radius: 30%;
}
div.tvbtn.yellow {
  background-color: #ffd700;
  border-radius: 30%;
}
div.tvbtn.d {
  font-style: italic;
  background-color: white;
  color: black;
}
div.tvbtn.enter {
  background-color: royalblue;
  border-radius: 10%;
}
div.tvbtn.return {
  background-color: royalblue;
  border-radius: 10%;
}
div.tvbtn.rec {
  background-color: red;
  border-radius: 10%;
}
div.ltbtn {
  display: inline-block;
  width: 4em;
  height: 1em;
  text-align: center;
  vertical-align: bottom;
  background-color: navy;
  //padding: auto auto auto auto;
  border: medium solid dimgray;
  border-radius: 20%;
  color: white;
  font-weight: bold;
  font-size: large;
}
</style>
<h1><a href="/remotectrl">Smart Home 2</a></h1>
<!--
<a href="/remotectrl">Reload</a>
<h2>Kanachu Bus</h2>
-->
<a href="/businfo/check/fujiyamashita/higashitotsukaekihigashiguchi"><div class="ltbtn">富士山下→東戸塚</div></a>
<a href="http://real.kanachu.jp/sp/DisplayApproachInfo?fNO=12117&tNO=12101&fNM=&tNM=">link</a>
<a href="/businfo/check/kamiyabe/totsukaekihigashiguchi"><div class="ltbtn">上矢部→戸塚</div></a>
<a href="/businfo/check/fujiyamashita/akibasansaro"><div class="ltbtn">秋葉三叉路</div></a>
<a href="http://real.kanachu.jp/sp/DisplayApproachInfo?fNO=12117&tNO=12115&fNM=&tNM=">link</a>
<h2>Viera TV</h2>
<!--
<a href="/viera/on">Power On</a>
<a href="/viera/off">Power Off</a>
<a href="/viera/ch_up">Channel UP</a>
<a href="/viera/ch_down">Channel DN</a>
<a href="/viera/volup">Volume UP</a>
<a href="/viera/voldown">Volume DN</a>
-->
<a href="/viera/weather">Weather</a>
<img src="/tvremote.png" usemap="#tvremote1"/>
<map name="tvremote1">
<area shape="rect" coords="109,27,197,85" href="/viera/ch_up" alt="ch_up">
<area shape="rect" coords="109,99,197,156" href="/viera/ch_down" alt="ch_down">
<area shape="rect" coords="211,27,301,85" href="/viera/volup" alt="volup">
<area shape="rect" coords="211,99,301,156" href="/viera/voldown" alt="voldown">
<area shape="circle" coords="48,57,30" href="/viera/on" alt="on">
<area shape="circle" coords="48,128,30" href="/viera/off" alt="off">
</map>
<br>
<a href="/viera/d1"><div class="tvbtn">1</div></a>
<a href="/viera/d2"><div class="tvbtn">2</div></a>
<a href="/viera/d3"><div class="tvbtn">3</div></a>
<a href="/viera/d4"><div class="tvbtn">4</div></a>
<a href="/viera/d5"><div class="tvbtn">5</div></a>
<a href="/viera/d6"><div class="tvbtn">6</div></a>
<a href="/viera/d7"><div class="tvbtn">7</div></a>
<a href="/viera/d8"><div class="tvbtn">8</div></a>
<a href="/viera/d9"><div class="tvbtn">9</div></a>
<a href="/viera/d0"><div class="tvbtn">0</div></a>
<a href="/viera/data"><div class="tvbtn d">d</div></a>
<br>
<a href="/viera/blue"><div class="tvbtn blue">Blue</div></a>
<a href="/viera/red"><div class="tvbtn red">Red</div></a>
<a href="/viera/green"><div class="tvbtn green">Green</div></a>
<a href="/viera/yellow"><div class="tvbtn yellow">Yellow</div></a>
<a href="/viera/enter"><div class="tvbtn enter">Enter</div></a>
<a href="/viera/return"><div class="tvbtn return">Ret</div></a>
<br>
<a href="/viera/rec"><div class="tvbtn rec">REC</div></a>
<a href="/viera/stop"><div class="tvbtn stop">Stop</div></a>
<a href="/viera/pause"><div class="tvbtn pause">Pause</div></a>
<a href="/viera/stop"><div class="tvbtn stop">STOP</div></a>
<a href="/viera/epg"><div class="tvbtn">epg</div></a>
<a href="/viera/reclist"><div class="tvbtn reclist">List</div></a>
<a href="/viera/chg_input"><div class="tvbtn">Input</div></a>
<br>
TV Auto-Off: <a href="/viera/tv_autooff_enable">Enable</a>
<a href="/viera/tv_autooff_disable">Disable</a>
<h2>Lights</h2>
<h3>2F Main Room</h3>
<a href="/light/2fmain/lampcolor"><div class="ltbtn">LampColor</div></a>
<a href="/light/2fmain/neutralwhite"><div class="ltbtn">NeutralWhite</div></a>
<a href="/light/2fmain/next"><div class="ltbtn">Next</div></a>
<a href="/light/2fmain/next"><div class="ltbtn">Next</div></a>
<a href="/light/2fmain/small"><div class="ltbtn">Mame</div></a>
<a href="/light/2fmain/off"><div class="ltbtn">Off</div></a>
<h3>1F Dining</h3>
<a href="/light/1fdining/all"><div class="ltbtn">All</div></a>
<a href="/light/1fdining/dimmer"><div class="ltbtn">Dimmer</div></a>
<a href="/light/1fdining/small"><div class="ltbtn">Small</div></a>
<a href="/light/1fdining/off"><div class="ltbtn">Off</div></a>
<a href="/light/1fdining/next"><div class="ltbtn">Next</div></a>
<h3>1F リビング</h3>
<a href="/light/1fliving/0"><div class="ltbtn">Pattern-0</div></a>
<a href="/light/1fliving/1"><div class="ltbtn">Pattern-1</div></a>
<h3>1Fエアコン</h3>
<a href="/ac/1fac/stop"><div class="ltbtn">停止</div></a>
<a href="/ac/1fac/c28_auto"><div class="ltbtn">冷28自動</div></a>
<a href="/ac/1fac/c28_0"><div class="ltbtn">冷28 0</div></a>
<a href="/ac/1fac/c28_2"><div class="ltbtn">冷28 2</div></a>
<a href="/ac/1fac/c27_auto"><div class="ltbtn">冷27自動</div></a>
<a href="/ac/1fac/c27_0"><div class="ltbtn">冷27 0</div></a>
<a href="/ac/1fac/c27_2"><div class="ltbtn">冷27 2</div></a>
<h2>Raspberry Pi Shutdown</h2>
<a href="/pi/aplay">aplay</a>
<a href="/pi/shutdown">Shutdown</a>
<a href="/test">test</a>
<button class="js-button">
BBBBB
</button>
</body>
</html>

